<div class="image">
        <img src="../../../../assets/sofa.png" alt="item image">
    <div class="description">
        <div class="stars">
            <img src="../../../../assets/star.svg" alt="star">
            <img src="../../../../assets/star.svg" alt="star">
            <img src="../../../../assets/star.svg" alt="star">
            <img src="../../../../assets/star.svg" alt="star">
            <img src="../../../../assets/star.svg" alt="star">
        </div>
        <h3> Sofa </h3>
        <div>
            <span> $ 1000 </span>
            <span class="oldprice">$ 2000 </span>
        </div>

    </div>
</div>