<div class="container">
    <div class="header">
        <div class="leading">3legant.</div>
        <div class="content">
            <a class="nav" [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a>
            <a class="nav" [routerLinkActive]="['active']" [routerLink]="['/shop']" [queryParams]="{page : 1}" >Shop</a>
            <a class="nav" [routerLinkActive]="['active']" [routerLink]="['/discount']">Discounts</a>
            <a class="nav" [routerLinkActive]="['active']" [routerLink]="['/contact']">Contact Us</a>
        </div>
        <div class="actions">
            <div class="svg" [routerLink]="['/account']"><img src="assets/profile.svg" alt="profile"></div>
            <div class="svg" (click)="onClick()" *ngIf="isAuthenticated | async"><img src="assets/logout.svg" alt="logout" ></div>
            <div class="svg cart">
                <img src="assets/cart.svg" alt="cart" [routerLink]="['/cart']">
                <div class="cart-items">{{itemsNumber | async}}</div>
            </div>
        </div>
    </div>

</div>
