<div class="container">
    <div class="details">
        <app-product-images ></app-product-images>
        <div class="general-details">
            <div class="name">Tray Table</div>
            <div class="description">
                Buy Buy one or buy a few and make every space where you sit more convenient. Light and easy to move around with removable tray top, handy for serving snacks.
                or buy a few and make every space where you sit more convenient. Light and easy to move around with removable tray top, handy for serving snacks.
            </div>
            <div class="price">
                <div class="current-price">$199.00</div>
                <div class="previous-price">$400.00</div>
            </div>
            <hr>
            <div class="discount-timeout">
                <div class="text">Offer expires in :</div>
                <div class="timeout">
                    <div class="timeout-item">
                        <div class="box">12</div>
                        <div class="des">Days</div>
                    </div>
                    <div class="timeout-item">
                        <div class="box">12</div>
                        <div class="des">Hours</div>
                    </div>
                    <div class="timeout-item">
                        <div class="box">12</div>
                        <div class="des">Minutes</div>
                    </div>
                    <div class="timeout-item">
                        <div class="box">12</div>
                        <div class="des">Seconds</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="colors">
                <div class="text">Choose Color  ></div>
                <div class="color-picker">
                    <div class="color selected"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                </div>
            </div>
            <div class="actions">
                <div class="cart-wishlist">
                    <app-items-number></app-items-number>
                    <button>
                        <img src="assets/heart.svg">
                        <div style="width: 10px"></div>
                        <p>Wishlist</p>
                    </button>
                </div>
                <button class="cart-button">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="recommendation">
        <div class="call-to-action">
            <p class="text">
                You might also like
            </p>
            <div class="action">
                <p>More Products</p>
                <img src="assets/arrow-right.svg">
            </div>
        </div>
        <div>
            <app-product-item></app-product-item>
        </div>
    </div>
</div>
