<div class="footer">
    <div class="nav-bar">
        <div class="title">
            <div class="txt">3legant.</div>
            <div class="pipe">|</div>
            <div class="desc">Gift & Decoration Store</div>
        </div>
        <div class="items">
            <a class="nav" [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a>
            <a class="nav" [routerLinkActive]="['active']" [routerLink]="['/shop']">Shop</a>
            <a class="nav" [routerLinkActive]="['active']" [routerLink]="['/discount']">Discounts</a>
            <a class="nav" [routerLinkActive]="['active']" [routerLink]="['/contact']">Contact Us</a>
        </div>
    </div>
    <hr>
    <div class="copyright">
        <div class="text">
            Copyright © 2023 3legant. All rights reserved
        </div>
        <div class="social-media">
            <a class="fb" href="www.facebook.com"><img src="assets/instagram.svg" alt="instagram"></a>
            <a class="inst" href="www.instagram.com"><img src="assets/facebook.svg" alt="facebook"></a>
        </div>
    </div>
</div>
