*{
    color: white;
}

.footer{
    background-color: black;
    padding: 80px 160px 32px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items{
    display: flex;
    align-items: center;
}

.txt{
    font-size: 24px;
    font-weight: normal;
}

.desc{
    font-size: 14px;
    font-weight: 300;
}

.pipe{
    margin: 0 32px;
    color: #6C7275;
    font-size: 24px;
}

.nav{
    text-decoration: none;
    margin-left: 40px;
    font-weight: 300;
    font-size: 14px;
}


.copyright{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text{
    font-size: 12px;
    font-weight: lighter;
}

.inst{
    margin-left: 24px;
}
