<div class="container">
    <div class="top">
        <img src="assets/backgroundDiscount.png" class="top-img">
        <div class="image-overlay">
            <div class="title">
                Discount
            </div>
            <div class="description">
                Profite our remarkable Discounts.
            </div>
        </div>
    </div>
    <div class="split-container">
        <div>
            <div class="sorter">
                <h2>
                    Products
                </h2>
                
            </div>
            <div class="grid">
                <div class="spinner" *ngIf="(loading$ | async)"><mat-spinner ></mat-spinner></div>
                <app-product-item *ngFor="let discount of (discounts$ | async | slice:0:6 ) " [product]="discount.product "></app-product-item>
            </div>
            <div class="seemore">
                <button>See more</button>
            </div>
        </div>
    </div>
</div>