<div class="product" >
    <div class="absolut" >
      <div class="discount" *ngIf="product.discount">-{{product.discount!.value! * 100}}%</div>
      <div class="discount" style="visibility: hidden" >-50%</div>
      <div style="width: 20px; visibility: hidden" >tests</div>
        <div class="wishlist-button" (click)="onAddToWishlist()">
            <img src="assets/heart_white.svg">
        </div>
    </div>
    <div (click)="onClick()" style="cursor: pointer">
      <div class="hero-img">
        <img src="{{product.images ? product.images[0] : null  | image}}">
      </div>
      <div class="name">{{product.name}}</div>
      <div class="price" *ngIf="product.discount">
        <div class="current-price">${{product.price! | price: product.discount.value!}}</div>
        <div class="previous-price">${{product.price}}</div>
      </div>
      <div class="price" *ngIf="!product.discount">
        <div class="current-price">${{product.price}}</div>
      </div>
    </div>
    <button class="button" (click)="onAddToCart()">
    Add to cart
    </button>
</div>
