<div class="container">
  <div class="hero-title">
    <div class="slogan">
      <p>Simply Unique<span>/</span><br>Simply Better<span>.</span></p>
    </div>
    <div class="description">
      <span>3legant</span> is a gift & decorations store based in HCMC,<br> Vietnam. Est since 2019.
    </div>
  </div>
  <div class="banner-grid">
    <div class="elements-card cont" (click)="navigate('Living Room')" style="cursor: pointer">
      <div class="image-placeholder">
        <img class="paste-image" src="assets/paste-image0.png" />
      </div>
      <div class="content">
        <div class="title">
          <div class="product-name">Living Room</div>
        </div>
        <div class="button">
          <div class="content2">
            <div class="get-started">Shop Now</div>
          </div>
          <svg
            class="icon-arrow-right"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.1665 10H15.8332"
              stroke="#141718"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.8335 15L15.8335 10"
              stroke="#141718"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.8335 5L15.8335 10"
              stroke="#141718"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="small-cards cont">
      <div class="elements-card2" (click)="navigate('Bedroom')" style="cursor: pointer">
        <div class="image-placeholder">
          <img class="paste-image" src="assets/paste-image1.png" />
        </div>
        <div class="content3">
          <div class="bedroom">Bedroom</div>
          <div class="button">
            <div class="content2">
              <div class="get-started">Shop Now</div>
            </div>
            <svg
              class="icon-arrow-right2"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.1665 10H15.8332"
                stroke="#141718"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10.8335 15L15.8335 10"
                stroke="#141718"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10.8335 5L15.8335 10"
                stroke="#141718"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="elements-card2" (click)="navigate('Kitchen')" style="cursor: pointer">
        <div class="image-placeholder">
          <img class="paste-image" src="assets/paste-image2.png" />
        </div>
        <div class="content3">
          <div class="kitchen">Kitchen</div>
          <div class="button">
            <div class="content2">
              <div class="get-started">Shop Now</div>
            </div>
            <svg
              class="icon-arrow-right3"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.1665 10H15.8332"
                stroke="#141718"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10.8335 15L15.8335 10"
                stroke="#141718"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10.8335 5L15.8335 10"
                stroke="#141718"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div >
    </div>
  </div>
  <div class="values">
    <app-services imagePath="assets/fast delivery.svg" value="Free Shipping" description="Order above $200"></app-services>
    <app-services imagePath="assets/money.svg" value="Money-back" description="30 days guarantee"></app-services>
    <app-services imagePath="assets/lock 01.svg" value="Secure Payments" description="Secured by Stripe"></app-services>
    <app-services imagePath="assets/call.svg" value="24/7 Support" description="Phone and Email support"></app-services>
  </div>
</div>



