<!-- app.component.html -->
<div class="form">
    <p>Account details</p>
    <div class="circular-input">
    <label >FIRST NAME *</label>
    <br>
    <input type="text"  [(ngModel)]="user.firstName" name="myInput" placeholder={{user.firstName}}>
  </div>
    <div class="circular-input">
    <label >LAST NAME *</label>
    <br>
    <input type="text"  [(ngModel)]="user.lastName" name="myInput" >
  </div>
    <div class="circular-input">
    <label >DISPLAY NAME *</label>
    <br>
    <input type="text"  [(ngModel)]="displayName"name="myInput" placeholder="Display name">
  </div>
    <div class="circular-input">
    <label >EMAIL *</label>
    <br>
    <input type="text" [(ngModel)]="user.email"  name="myInput" placeholder={{user.email}}>
  </div>
    <form [formGroup]="userForm">
    <p>Password</p>
    <div class="circular-input">
    <label >OLD PASSWORD</label>
    <br>
    <input type="text"  name="myInput" formControlName="oldPassword" placeholder="Old password">
</div>
    <div class="circular-input">
    <label >NEW PASSWORD</label>
    <br>
    <input type="text"  name="myInput" formControlName="newPassword">
  </div>
    <div class="circular-input">
    <label >REPEAT NEW PASSWORD  </label>
    <br>
    <input type="text"     name="myInput" formControlName="repeatNewPassword">
  </div>
    <button type="button" (click)="onSaveChanges()" class="save-button">Save Changes</button>
    </form>
</div>
