<!-- app.component.html -->
<div class="title" xmlns="http://www.w3.org/1999/html">
    <p>
      My Account
    </p>
  </div>
<div class="content">
  <div class="left-navigation">
    <div class="images-container" >
      <div class="center-container" >
      <div class="profile-picture-container">
        <img src="/assets/instagram.svg" alt="Profile Picture" class="profile-picture">
      </div>
      </div>
      <div class="photo-icon-container" >
      <img src="assets/heart_white.svg" class="photo-icon">
    </div>
    </div>
    <p> Firas Saada</p>
    <ul>

      <li class="line"><a href="#" style="cursor: pointer; color: black ; ">Account</a></li>
      <li><a href="#">Address</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="#">Wishlist</a></li>
      <li><a href="#">Log Out</a></li>

      <!-- Add more list items as needed -->
    </ul>
  </div>
  <div class="form">
    <p>Account details</p>
    <div class="circular-input">
    <label >FIRST NAME *</label>
    <br>
    <input type="text"  [(ngModel)]="user.firstName" name="myInput" placeholder={{user.firstName}}>
  </div>
    <div class="circular-input">
    <label >LAST NAME *</label>
    <br>
    <input type="text"  [(ngModel)]="user.lastName" name="myInput" >
  </div>
    <div class="circular-input">
    <label >DISPLAY NAME *</label>
    <br>
    <input type="text"  [(ngModel)]="displayName"name="myInput" placeholder="Display name">
  </div>
    <div class="circular-input">
    <label >EMAIL *</label>
    <br>
    <input type="text" [(ngModel)]="user.email"  name="myInput" placeholder={{user.email}}>
  </div>
    <form [formGroup]="userForm">
    <p>Password</p>
    <div class="circular-input">
    <label >OLD PASSWORD</label>
    <br>
    <input type="text"  name="myInput" formControlName="oldPassword" placeholder="Old password">
</div>
    <div class="circular-input">
    <label >NEW PASSWORD</label>
    <br>
    <input type="text"  name="myInput" formControlName="newPassword">
  </div>
    <div class="circular-input">
    <label >REPEAT NEW PASSWORD  </label>
    <br>
    <input type="text"     name="myInput" formControlName="repeatNewPassword">
  </div>
    <button type="button" (click)="onSaveChnages()" class="save-button">Save Changes</button>
    </form>
</div>
</div>
