<div class="form" >
  <p>Account details</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="circular-input">
      <label >EMAIL *</label>
      <br>
      <input type="text" formControlName="email" placeholder="FIRST NAME">
    </div>
    <div class="circular-input">
      <label >FIRST NAME *</label>
      <br>
      <input type="text" formControlName="firstName" placeholder="FIRST NAME">
    </div>
    <div class="circular-input">
      <label >LAST NAME *</label>
      <br>
      <input type="text"  formControlName="lastName" placeholder="LAST NAME">
    </div>
    <div class="circular-input">
      <label >ADDRESS *</label>
      <br>
      <input type="text"  formControlName="address" placeholder="ADDRESS">
    </div>
    <div class="circular-input">
      <label >PHONE NUMBER *</label>
      <br>
      <input type="text" formControlName="phoneNumber" placeholder="PHONE NUMBER">
    </div>
   <button type="submit" class="save-button">Save Changes</button>

  </form>
</div>

<app-loader *ngIf="loading$ | async"></app-loader>
