.form {
  vertical-align: top;
  display: inline-block;
  padding-left: 150px;
  font-weight: 600;
  width: 500px;
}
.form p {
  font-weight: 600;
  padding: 10px;
}
.save-button {
  background-color: #000; /* Set background color to black */
  color: #fff; /* Set text color to white */
  border: 2px solid #000; /* Set border to black with 2px width */
  border-radius: 10px; /* Set border-radius to make it circular */
  padding: 10px ; /* Add padding for better visual appearance (adjust as needed) */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px; /* Set font size to 16 pixels */
}
.circular-input {
  font-weight: 500;
  color: #6C7275;
  border-radius: 50px; /* Use a value half of the element's height to make it circular */
  box-sizing: border-box;
  padding: 10px; /* Optional: Add padding for better visual appearance */
}


