.cart-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #F5F5F5;
    color: black;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
}

.in{
    font-weight: bold;
}

.inc{
    cursor: pointer;
    font-size: 25px;
}
